* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.hor-flex {
  display: flex;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

#main-header {
  height: 100px;
  background-color: #8FBDD9;
}

#main-header .container.hor-flex {
  align-items: center;
  justify-content: space-between;
}

#main-header .container.hor-flex .logo {
  color: #D9C877;
  font-size: 48px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  text-shadow: 1px 1px #253B59;
}

#main-header .container.hor-flex .home-link a {
  color: #253B59;
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 500;
}

#main-header .container.hor-flex .home-link a:hover {
  color: #D9C877;
  font-weight: 700;
  text-shadow: 1px 1px #253B59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.hor-flex {
  display: flex;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.add-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 60px auto 0 auto;
}

.add-btn a {
  text-decoration: none;
  padding: 20px 30px;
  background-color: #D9AE89;
  color: #253B59;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 500;
}

#all-employees .container.hor-flex {
  border: 1px solid #8FBDD9;
  margin-top: 60px;
  padding-top: 30px;
}

#all-employees .container.hor-flex .data-col {
  width: calc(100% / 3);
}

#all-employees .container.hor-flex .data-col ul {
  list-style: none;
}

#all-employees .container.hor-flex .data-col ul li {
  height: 60px;
  line-height: 60px;
  width: 100%;
  border-bottom: 1px solid #8FBDD9;
  text-align: center;
}

#all-employees .container.hor-flex .data-col ul li a {
  text-decoration: none;
  color: #000;
  font-size: "Roboto", sans-serif;
}

#all-employees .container.hor-flex .data-col ul li a:hover {
  color: #D9AE89;
}

#all-employees .container.hor-flex .data-col ul li i {
  font-size: 22px;
}

#all-employees .container.hor-flex .data-col ul li:first-child {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  height: auto;
  padding-bottom: 30px;
}

#show-employee .container {
  margin-top: 100px;
}

#show-employee .container .data-row {
  height: 120px;
  line-height: 120px;
  border: 1px solid black;
}

#show-employee .container .data-row span {
  padding-left: 100px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

#show-employee .container .data-row:first-child {
  background-color: #253B59;
}

#show-employee .container .data-row:first-child span {
  color: #fff;
}

#show-employee .container .data-row:nth-child(2) {
  background-color: #D9AE89;
}

#show-employee .container .data-row:nth-child(2) span {
  color: #000;
}

#show-employee .container .delete {
  margin-top: 60px;
}

#show-employee .container .delete a {
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

#show-employee .container .delete a:hover {
  color: red;
}

