@import '../base';

#main-header{
    
    height: 100px;
    background-color: $light-first-color;

    .container.hor-flex{
        
        align-items: center;
        justify-content: space-between;

        .logo{

            color: $second-color;
            font-size: $main-title;
            font-weight: 700;
            line-height: 100px;
            text-transform: uppercase;
            text-shadow: 1px 1px $dark-first-color;
        }

        .home-link{

            a{
                
                color: $dark-first-color;
                text-decoration: none;
                font-size: $big-size;
                text-transform: uppercase;
                margin-right: 30px;
                font-weight: 500;

                &:hover{

                    color: $second-color;
                    font-weight: 700;
                    text-shadow: 1px 1px $dark-first-color;
                }
            }
        }
    }
}